doctype html
html
  body
    if status_message
      p#status_message= status_message
    
    #login_signup
    
      form(id="form_register", action='/register', method='post')
        p.login_header Sign Up      
        input.input(type='email', name='username', placeholder='Email' value="john@doe.com")
        input.input(type='password', name='password', placeholder='Password' value="123")     
        //input.input(type='email', name='email', placeholder='Email') 
        //input.input(type='password', name='password', placeholder='Password')
        input.input(type='text', name='firstName', placeholder='First Name' value="John")
        input.input(type='text', name='lastName', placeholder='Last Name' value="Doe")
        br
        input#signup2(type='submit', value='Sign Up')
        
      form(id="form_login" action='/login', method='post')
        p.login_header Login
        //input#log_in_email.input(type='text', name='username', placeholder='Email', maxlength='80')
        input#log_in_email.input(type='email', name='username', placeholder='Email', maxlength='80' value="john@doe.com")
        br
        input#log_in_password.input(type='password', name='password', placeholder='Password' value="123")
        br
        input#login2(type='submit', value='Log In')
        a(href='/start', target='_blank') Forgot Password?
    script(src="javascripts/script.js")