doctype html
html
	head
		link(rel="stylesheet" href="/stylesheets/ionicons.min.css")
		link(rel="stylesheet" href="/stylesheets/register_light.css")
	body
		if status_message
			p#status_message=status_message
		header
			h1 budgetplanner
		form(action='/login' method='post')
			p Login
			.input-effect
				input#log_in_email.input(type='email' name='username' maxlength='80' value="john@doe.com" required)
				label Email
				span.focus-border
					i
			.input-effect
				input#log_in_password.input(type='password' name='password' value="123" required)
				label Password
				span.focus-border
					i
			br
			input(type='submit' value='Log In') 
			a(href='/' target='_blank') Forgot Password?
		i.icon.ion-chevron-down
		footer
			div
				.info_slide
					h3 Info1
					p Quinoa beard 90's, +1 bespoke food truck PBR&B raw denim direct trade ugh. XOXO cliche chicharrones kinfolk gastropub.
					p
						a(href='#') Learn more about info1
				.info_slide
					h3 Info2
					p Neutra single-origin coffee selfies mlkshk waistcoat stumptown. Bespoke chia chambray etsy plaid.
					p
						a(href='#') Learn more about info2
				.info_slide
					h3 Info3
					p Scenester mumblecore gluten-free, locavore intelligentsia microdosing four loko roof party church-key pug wolf ennui.
					p
						a(href='#') Learn more about info3
		script(src="/javascripts/jquery-3.2.1.min.js")
		script(src="/javascripts/registerScript.js")