doctype html
html
    head
        title= title
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css")
        link(rel='stylesheet' href='/stylesheets/stylesheet.css')
        link(rel='stylesheet' href='/stylesheets/stylesheet_pug.css')
        block stylesheets
        meta(name="viewport" content="width=device-width")
        meta(name="author" content="Frederik Agervold")
        meta(charset="UTF-8")
    body
        script(src="/javascripts/facebook.js")
        if !user
          #shader
          #popup_login
            a(href="/auth/facebook")#fb_button
              i.fa.fa-facebook-square
              span Login with facebook

            span#or or

            p#local Local login
        .wrapper
          #popup_message
          header.main-header
            h1.main-logo
              a(href="/") BudgetPlanner
            //
                form(action="/search", method="get", id="form_search")
                  input(type="text", name="event", placeholder="Search", id="inputEvent", class="input")
                  i.fa.fa-search

            if user
              ul#menu
                li#menuCreate
                  p +
                li#menuNotifications
                  i.fa.fa-bell
                li#menuProfile
                  image(src="#{user.image}")
                  p= user.firstName

              .dropdownMenu#createDropdown
                ul
                  li
                    a(href="/create") Pick Up Game
                  li
                    a(href="/create/tournament") Tournament
                  li
                    a(href="/create/league") League
                  li
                    a(href="/create/team") Team

              .dropdownMenu#profileDropdown
                ul
                  li
                    a(href="/user/#{ user.url == undefined ? user._id : user.url }") Profile

                  li
                    a(href="/settings") Settings
                  li
                    a(href="/logout") Logout


            else
              ul#menu
                li
                  span#popup_login_button Login / Signup

          block content
          .push
        footer
          ul
            li
              a(href="/faq") faq
            li
              a(href="/about") about
            li
              a support
          i.fa.fa-facebook-square
          i.fa.fa-twitter-square
          i.fa.fa-instagram

        script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js')
        script(src="/javascripts/date.js")
        script(src='/javascripts/script.js')
        block scripts

