doctype html
html
  head
    title pugs
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='/stylesheets/stylesheet_index.css')
    meta(name='viewport', content='width=device-width')
    meta(name='author', content='Frederik Agervold')
    meta(charset='UTF-8')
    link(rel='shortcut icon', href='http://fwra.me/templates/organizer/o_logo.ico')
  body
    if status_message
      p#status_message= status_message
    header.main-header
      h1.main-logo pugs
      form#form_search(action='/search', method='get')
        input#inputEvent.input(type='text', name='event', placeholder='Search')
        i.fa.fa-search
    img#image(src='/images/pug_football.jpg')
    #register_shader
    
    #loginswag
      a(href="/auth/facebook")#fb_button
        i.fa.fa-facebook-square
        span Login with facebook
        
      span#or or
      
      p#local Local login
    
    #login_signup(style="display:none")
    
      form(id="form_register", action='/register', method='post')
        p.login_header Sign Up      
        input.input(type='email', name='username', placeholder='Email' value="john@doe.com")
        input.input(type='password', name='password', placeholder='Password' value="123")     
        //input.input(type='email', name='email', placeholder='Email') 
        //input.input(type='password', name='password', placeholder='Password')
        input.input(type='text', name='firstName', placeholder='First Name' value="John")
        input.input(type='text', name='lastName', placeholder='Last Name' value="Doe")
        br
        input#signup2(type='submit', value='Sign Up')
        
      form(id="form_login" action='/login', method='post')
        p.login_header Login
        //input#log_in_email.input(type='text', name='username', placeholder='Email', maxlength='80')
        input#log_in_email.input(type='email', name='username', placeholder='Email', maxlength='80' value="john@doe.com")
        br
        input#log_in_password.input(type='password', name='password', placeholder='Password' value="123")
        br
        input#login2(type='submit', value='Log In')
        a(href='/start', target='_blank') Forgot Password?
    //
      <div id="searchResults" class="container"></div>
    i.fa.fa-chevron-down
    footer
      .info_slide
        h3 Info1
        p Quinoa beard 90's, +1 bespoke food truck PBR&B raw denim direct trade ugh. XOXO cliche chicharrones kinfolk gastropub.
        p
          a(href='#') Learn more about info1
      .info_slide
        h3 Info2
        p Neutra single-origin coffee selfies mlkshk waistcoat stumptown. Bespoke chia chambray etsy plaid.
        p
          a(href='#') Learn more about info2
      .info_slide
        h3 Info3
        p Scenester mumblecore gluten-free, locavore intelligentsia microdosing four loko roof party church-key pug wolf ennui.
        p
          a(href='#') Learn more about info3
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js')
    script(src="javascripts/script.js")