extends layout

block content
	.container
		#info
			h1 Info
			#description
				p title
				p Ferie
				p budget
				p 6789
			#users
				.userAvatar
				.userAvatar
				.userAvatar
				.userAvatar
				.userAvatar
				.userAvatar
				.userAvatar
		#list
			h1 Items
			table
				thead
					tr
						th Name
						th Budget
						th Amount
						th Diff
				tbody
					tr.categoryTitle
						td Transport
					tr
						td Fly
						td 1400
						td 1500
						td +100
					tr.categoryTitle
						td Food
		#log
			h1 Log
			ul
				li Log message
				li Log message
				li Log message
				li Log message
				li Log message
				li Log message
				li Log message
				li Log message
				li Log message
			div
				input(placeholder="Chat")

block scripts
	script var pugCoords = !{JSON.stringify(pugs2)}
	//script(src='/javascripts/google_maps_script.js')
	//script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBgGEK8zJNXy_Ye-x0sDwFXr6336f66zOE&callback=initMap" async defer)
	script(src="/javascripts/script_home.js")