#event_info2
    h2 Info
    div
        i.fa.fa-globel
        p= event.venue + ' ' + event.street + ' ' + event.number + ' ' + event.city + ', ' + event.country
    div
        i.fa.fa-clock-o
        p= event.date
    div
        i.fa.fa-info-circle
        p= event.info
    div
        if event.priv == true
            i.fa.fa-lock
        else
            i.fa.fa-unlock