extends ../layout

block content

    form(id="form_create" action='/googleGeo', method='post')
        input(type='text', name='street', placeholder='Street', value='Nandrupsvej' class="input")
        input(type='text', name='number', placeholder='Number', value='1' class="input")
        input(type='text', name='city', value='Frederiksberg' placeholder="City" class="input")
        input(type='text', name='country', value='Denmark' placeholder="Country" class="input")
        
        input(type='submit', value='Create Event' class="button")
        
block scripts
    script(src="/javascripts/create_script.js")