extends ../layout

block stylesheets
	link(rel="stylesheet", href="/stylesheets/lightbox.min.css")

block content
	a(href="/event/#{event._id}")
			i.fa.fa-arrow-circle-o-left
	h1 Images		
	each image in event.images
		a(href="/images/uploaded/#{image}", data-lightbox="image-1")
			//img(src="/images/uploaded/#{image}")
			div(style="background-image:url(/images/uploaded/#{image}); background-size:cover;height:150px;width:150px;margin-right:10px;display:inline-block;background-position-x:50%")
	
block scripts
	script(src="/javascripts/lightbox.min.js")
	script.
		lightbox.option({ 'maxWidth' : '1000' })	