@font-face {
    font-family: roboto;
    src: url(/fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: roboto-thin;
    src: url(/fonts/Roboto-Thin.ttf);
}

* {
    font-family: roboto;
}

body {  
    background: rgb(250,250,250);
    margin: 0;
    text-align: center;
}

h1 {
    position: absolute;
    top: 50px;
    right: 0;
    left: 0;
    margin: auto;
    font-family: roboto-thin;
    font-size: 3em;
}

#content {
    width: 704px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    height: 331px;
}

#expensesSection, #balanceSection {
    display: none;
}

h3 {
    font-family: roboto-thin;
    margin: 0;
}

h4 {
    font-family: roboto-thin;
    margin: 0;
    border-bottom: 1px solid rgba(50,50,50,0.3);
    padding-bottom: 40px;
}


.category {
    display: inline-block;
    margin: 40px 0;
    text-align: center;
    cursor: pointer;
    width: 150px;
    position: relative;
}
.category:hover .icon, .category:hover span {
    opacity: .5;
}

.icon {
    font-size: 40px;
    color: rgb(50,50,50);
}

.icon.outline {
    display: none;
}

.icon img {
    height: 40px;
}

.category span {
    display: block;
    font-size: 20px;
}

.expenses {
    display: none;
    position: absolute;
    padding: 10px;
    list-style: none;
    left: 15px;
    width: 100px;
    background: rgb(240,240,240);
    border: 1px solid rgb(200,200,200);
    z-index: 1;
}
.category:hover .expenses {
    display: initial;
}


/*BALANCE SECTION*/
#balance input {   
    margin-top: 40px;
    font-size: 30px;
    background: 0;
    border: 0;
    border-bottom: 2px solid rgb(150,150,150);
    text-align: center;
}

#balance input:focus {
    outline: none;
    border-color: rgb(50,50,50);
}


.button { 
    background: 0;
    border: 1px solid rgb(50,50,50);
    cursor: pointer;
    padding: 12px 36px;
    position: absolute;
    bottom: 50px;
    right: 0;
    left: 0;
    margin: auto;
    width: 142px;

}
.button:hover {
    background: rgba(200,200,200,.3)
}
.button.disabled:focus {
    outline: none;
}
