@font-face {
    font-family: roboto;
    src: url(/fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: roboto-thin;
    src: url(/fonts/Roboto-Thin.ttf);
}

* {
    box-sizing: border-box;
    font-family: sans-serif;
    font-family: roboto;
    color: white;
}

html {
    background: #141d26;
}

body {
    margin: 0;
}

#menu {
    height: 100%;
    height: calc(100% - 50px);
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    width: 200px;
    margin: 0;
    border-right: 1px solid rgba(200,200,200,.5);
    overflow: auto;
}

#menu > li {
    line-height: 60px;
    text-align: left;
    padding-left: 18px;
    border-bottom: 1px solid rgba(200,200,200,.5);
    font-size: 18px;
    list-style: none;
    background: #1b2836;
    cursor: pointer;
    position: relative;
}
#menu .sheet {
    font-style: italic;
    font-weight: bold;
    cursor: initial;
    font-size: 20px;
}
#menu > li:not(:first-of-type):hover {
    background: rgb(37, 50, 64);
}
#menu > li.selected {
    background: rgb(47, 60, 74);
}

#menu svg {
    position: absolute;
    top: 18px;
    right: 18px;
    height: 24px;
    width: 24px;
}
#menu svg:hover {
    opacity: .5;
}
#menu svg.selected {
    transform: rotate(180deg);
}
#menu svg.selected + .sub-menu {
    display: initial;
}

.sub-menu {
    display: none;
    padding-left: 15px;
}

.sub-menu li {
    font-size: 14px;
    list-style: none;
    height: 30px;
    line-height: 30px;
}

#settings {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 200px;
    /*height: 50px;*/
    text-align: center;
    border-top: 1px solid rgba(200,200,200,.5);
    background: #1b2836;
    border-right: 1px solid rgba(200,200,200,.5);
}

#newCategory {
    height: 30px;
    display: none;
}
#newCategory input {
    font-size: 20px;
    width: 150px;
    color: black;
    padding: 1px 0 1px 3px;
}
#newCategory button {
    width: 49px;
    height: 100%;
    vertical-align: top;
    color: black;
}

#settings .fa {
    font-size: 26px;
    line-height: 50px;
    cursor: pointer;
}
#settings .fa-plus {
    float: left;
    margin-left: 20px;
}
#settings .fa-cog {
    float: right;
    margin-right: 20px;
}
#settings .fa:hover {
    opacity: .5;
}

#username {
    position: absolute;
    top: 15px;
    right: 15px;
}


#content {
    width: 1200px;
    height: 672px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

/*---MAIN---*/
#main { 
    font-size: 30px;
}
/*
#chart_div {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    height: 300px;
    width: 400px;
}
*/

#defs + rect {
    fill: transparent;
}


.food {
    display: inline-block;
    width: 400px;
}

p {
    margin: 0;
}

.cat {
    font-size: 30px;
}

table {
    border-collapse: collapse;
    border: 1px solid rgba(200,200,200,.5);
    background: #1b2836;
}

th span {
    font-size: 12px;
    opacity: .8;
}

td {
    border: 1px solid rgba(200,200,200,.5);
    padding: 0;
    width: 66px;
    text-align: center;
}

td:first-of-type {
    text-align: left;
    width: 200px;
    padding-left: 15px;
}

table input {
    height: 54px;
    width: 65px;
    width: 72px;
    border: 0;
    background: transparent;
    font-size: 16px;
    text-align: inherit;
}

button {
    width: 100%;
}


/*EXPENSE*/
#expenseInfo h1 {
    display: inline-block;
}

#expenseInfo h6 {
    display: inline-block;
    width: 80px;
    text-align: center;
    color: rgb(150,150,150)
}

#expenseInfo h6 span {
    font-size: 20px;
    display: block;
}

#expenseTable td {
    padding: 10px;
}

select, select option, #expenseInput, #expenseEntryForm input {
    color: black;
}